
/* Add your CSS below! */


body {
	color: #7D7D7D;
    text-align: center;
    background-color:  #000000;
	font-size:18px
}

h1 {
	font-family:  Helvetica, sans-serif;
	font-size:45px;
	color: #9E3B33;
}
 
 
a {
   color:  #A5A7A8;
 }

#canvascontainer{	
	
	margin: 0 auto;	
	border-radius: 5px;
	width: 800px;
	height:640px;
	cursor: crosshair;
}
#cr-stage { 
	background-color:  #B8F3FC;
	color: white;
	
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}